body {
    margin: 0;
}

body.preload * {
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #a2d2ff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 65px;
    z-index: 1;
    text-decoration: none;
    box-shadow: 10px 8px 17px 2px rgba(0, 0, 0, 0.36);
    font-family: "Indie Flower";
    font-size: 1.5em;
    color: black;

}

.out {
    animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

}

.in {
    animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.hidden {
    display: none !important;
}

#side-menu {
    margin-left: 25px;
    position: fixed;
    top: 0;
    transformX: translate(-50%);
    width: 75px;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    text-decoration: none;
    /*box-shadow: 10px 8px 17px 2px rgba(0,0,0,0.36);*/
    font-family: "Indie Flower";
    font-size: 1.5em;
    color: black;

}

.side-in {
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.side-out {
    animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

}

nav div {
    margin-bottom: 20px;
}

#welcome-a {
    cursor: pointer;
    border: 2px white solid;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 10px 8px 15px 2px rgba(0, 0, 0, 0.71);

    background-color: #a2d2ff;
    background-image: url("./images/laurel.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#welcome-a:hover {


    transform: scale(1.1);
}

#classes-a {
    cursor: pointer;

    border: 2px white solid;

    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 10px 8px 15px 2px rgba(0, 0, 0, 0.71);

    background-color: #bee1e6;
    background-image: url("./images/books.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#classes-a:hover {


    transform: scale(1.1);
}

#prices-a {
    cursor: pointer;

    border: 2px white solid;

    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 10px 8px 15px 2px rgba(0, 0, 0, 0.71);

    background-color: #ffc8dd;
    background-image: url("./images/money.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#prices-a:hover {


    transform: scale(1.1);
}

#contact-a {
    cursor: pointer;

    border: 2px white solid;

    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 10px 8px 15px 2px rgba(0, 0, 0, 0.71);

    background-color: #cdb4db;
    background-image: url("./images/contact.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#contact-a:hover {


    transform: scale(1.1);
}

nav:focus {
    text-decoration: none;
}

nav a {
    text-decoration: none;
    color: black;
}

.certified {
    margin-top: -40px;
    background-image: url("./images/laurel.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 200px;
    line-height: 150px;
}


.classes {
    /*margin-top: -40px;*/
    background-image: url("./images/books.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    height: 150px;
    line-height: 20px;
}

.price {
    /*margin-top: -40px;*/
    background-image: url("./images/money.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    height: 150px;
    line-height: 20px;
}

.contact {
    background-image: url("./images/contact.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    height: 150px;
    line-height: 20px;
}

.classes span {
    /*margin-top: -20px;*/
}

.nav-welcome {
    background-color: #bde0fe;
    -webkit-animation: welcome-transition 0.3s linear alternate both;
    animation: welcome-transition 0.3s linear alternate both;
}

.nav-presentation {
    background-color: #a2d2ff;
    -webkit-animation: color-change-2x 0.3s linear alternate both;
    animation: color-change-2x 0.3s linear alternate both;
}

.nav-pricing {
    background-color: #ffc8dd;
    -webkit-animation: pricing-transition 0.3s linear alternate both;
    animation: pricing-transition 0.3s linear alternate both;
}

.nav-contact {
    background-color: #cdb4db;
    -webkit-animation: contact-transition 0.5s linear alternate both;
    animation: contact-transition 0.5s linear alternate both;
}

nav span {
    margin-right: 25px;
    padding: 10px;
}

.tier-title {
    text-align: center;
    padding: 20px;
    font-family: 'Bebas neue';
    font-size: 3em;
}

#vip-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.vip-card {
    color: cornsilk;
    font-family: 'Bebas neue';
    -webkit-box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.53);
    box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.53);
    margin-bottom: 15px;
    padding: 15px;
    width: 200px;
    height: 250px;
    border-radius: 10px;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

#friend-container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

.friend-card {
    color: cornsilk;
    font-family: 'Bebas neue';
    -webkit-box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.53);
    box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.53);
    padding: 5px;
    width: 200px;
    height: 250px;
    border-radius: 10px;
    background: radial-gradient(ellipse farthest-corner at right bottom, #a1a1a1 0%, #d7d7d1 8%, #767574 30%, #5f5f5b 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #ffffe1 8%, #999282 25%, #a19c9c 62.5%, #5d4a1f 100%);
}

.package-title {
    text-align: center;
    font-size: 1.6em;
    padding: 5px;
    border-bottom: 1px solid #9f7928;
}

.package-line {
    font-size: 1.2em;
    padding: 5px;
    border-bottom: 1px solid #9f7928;

}

.package-line:nth-child(2n+1) {
    background-color: rgba(255, 255, 255, 0.2);

}

.package-price {
    padding-top: 5px;
    text-align: center !important;
    font-size: 4em;
}

nav span:hover {
    background-color: #bde0fe;
    border-radius: 10px;
    cursor: pointer;
}

#welcome {
    position: relative;
    /*margin-top:-75px;*/
    height: 100vh;
    background-color: #bde0fe;
}

#welcome-split {
    position: absolute;
    bottom: 0;
    background-image: url("./welcome_split.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 30vh;
    width: 100%;
}

#presentation-split {
    transform: scaleY(-1);
    position: absolute;
    bottom: 0;
    background-image: url("./images/tilt.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 30vh;
    width: 100%;
}

#pricing-split {
    transform: scaleY(-1);
    position: absolute;
    bottom: 0;
    background-image: url("./images/waves.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 30vh;
    width: 100%;
}

#courses-split {
    transform: scaleY(-1);
    position: absolute;
    bottom: 0;
    background-image: url("./images/triangle.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 30vh;
    width: 100%;
}

.blob {

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
}

#welcome-container {
    flex-wrap: wrap;
    position: absolute;
    top: 10%;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#title {
    display: inline-block;
    flex-direction: column;
    margin-top: -5%;
    /*margin-left: 15%;*/
}

.section-title {
    color: black;
    text-align: center;
    font-size: 2em;
    font-family: 'Style Script';

}

.section-title span {
    text-shadow: 3px 5px 2px #474747;
}

/*.section-title span {*/
/*    background-color: rgba(0,0,0,0.2);*/
/*    padding: 15px;*/
/*    border-radius: 10px;*/
/*}*/

.half1 {
    font-family: Indie Flower, cursive;
    font-size: 2em;
}

.half2 {
    margin-top: -40px;
    font-family: Allison, cursive;
    font-size: 6em;
    color: #cdb4db;
}

#welcome-speech {
    background-image: url("./images/frame.svg");

    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 450px;
    font-family: "Indie Flower";
    font-size: 1.2em;
    padding: 50px;

    color: black;
}

#photo img {
    border-radius: 100%;
    /*box-shadow: 10px 8px 15px 2px rgba(0,0,0,0.71);*/
    margin-left: 30px;
}

#presentation {
    position: relative;
    height: 100vh;
    background-color: #a2d2ff;
}

#show-courses {
    position: relative;
    height: 100vh;
    background-color: #bee1e6;
}

#courses-container{
    margin: 15px;
    display: flex;
    justify-content: space-evenly;
}

#pricing {
    position: relative;
    height: auto;
    background-color: #ffc8dd;
    /*overflow-y: scroll;*/
}

#payment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 300px;
}

#payment img {
    max-height: 50px;
    margin: 20px;
}

#prices {
    font-size: 1.2em;
    font-family: "Indie Flower";
    width: 60%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    background-color: #eaeaea;
    border-radius: 10px;
    padding: 15px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.53);
}

#class {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#about-container {
    /*margin-top: 50px;*/
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.col {
    color: black;
    padding: 20px;
    display: flex;
    width: 50%;
    flex-direction: column;
}

.col p {
    font-family: "Indie Flower";
}

.col ul {
}

#class span:first-child {

    border-bottom: 1px solid black;

}


#duration {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
}

#duration span:first-child {

    border-bottom: 1px solid black;

}

#price-list {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
}

#price-list span:first-child {

    border-bottom: 1px solid black;

}

#form {
    width: 80%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#name-input {
    display: flex;

    justify-content: space-evenly;
    padding: 10px;
}

#mail-input {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

input {
    height: 50px;
    width: 200px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid pink;
}

textarea {
    height: 150px;
    width: 60%;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid pink;
}

input:focus, textarea:focus {
    background-color: pink;
}

textarea:focus, input:focus {
    outline: none;
}

input::placeholder, textarea::placeholder {
    color: black;
    padding: 5px;
}

#comments-line {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

#contact-form {
    position: relative;
    height: 100vh;
    background-color: #cdb4db;
}

form button {
    position: absolute;
    left: 50%;
    height: 50px;
    transform: translate(-50%);
    width: 60%;
    background-color: pink;
    border-radius: 10px;
}

@-webkit-keyframes welcome-transition {
    0% {
        background: #a2d2ff;
    }
    100% {
        background: #bde0fe;
    }
}

@keyframes welcome-transition {
    0% {
        background: #a2d2ff;
    }
    100% {
        background: #bde0fe;
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}


@-webkit-keyframes color-change-2x {
    0% {
        background: #bde0fe;
    }
    100% {
        background: #a2d2ff;
    }
}

@keyframes color-change-2x {
    0% {
        background: #bde0fe;
    }
    100% {
        background: #a2d2ff;
    }
}

@-webkit-keyframes pricing-transition {
    0% {
        background: #a2d2ff;
    }
    100% {
        background: #ffc8dd;
    }
}

@keyframes pricing-transition {
    0% {
        background: #a2d2ff;
    }
    100% {
        background: #ffc8dd;
    }
}


@-webkit-keyframes contact-transition {
    0% {
        background: #ffc8dd;
    }
    100% {
        background: #cdb4db;
    }
}

@keyframes contact-transition {
    0% {
        background: #ffc8dd;
    }
    100% {
        background: #cdb4db;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes slide-out-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
}


@media (max-width: 768px) {
    nav {
        display: none;
    }

    #side-menu {
        margin-left: 0;
        position: fixed;
        top: auto;
        bottom: 0;
        transformX: translate(-50%);
        width: 100%;
        background-color: transparent;
        flex-direction: row;
        display: flex;
        justify-content: space-around;
        height: 70px;
        /*align-items: center;*/
        z-index: 1;
        text-decoration: none;
        /*box-shadow: 10px 8px 17px 2px rgba(0,0,0,0.36);*/
        font-family: "Indie Flower";
        font-size: 1.5em;
        color: black;

    }

    #welcome {
        margin-top: 0;
        height: 150vh;

    }

    #presentation {
        height: auto;
        padding-bottom: 100px;

    }
}